OPENAI_API_KEY=
REPO_PATH=/home/cholland/repos
CONTEXT_TEXT=The root of this project on the file system is {projectFullPath}. If you need to make a new file, delete or modify an existing file, reply back with the full path at the top of the file following this pattern /* File: {projectFullPath}/someNewFile.js */. Ensure you break up every class, component, module, or equivalent. Each code block should only contain 1 file. If there are more than one files, close the first code block and restart for a new code block/file. Ensure you keep the existing functionality unless you are updating/changing it to fulfill the request. Ensure the code is properly formatted.
FLASK_RUN_PORT=5999